<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic4 Ecommerce
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-ecommerce-slide-image [datas]="slideImage.data.campaign" (itemSelected)="dataSelected($event)"></app-ecommerce-slide-image>

  <app-ecommerce-category *ngIf="category.data" [title]="category.data.category.title" [items]="category.data.category.items"
    (itemSelected)="itemSelected($event)"></app-ecommerce-category>

  <app-ecommerce-specialsale-grid *ngIf="specialsaleGrid.data" [datas]="specialsaleGrid.data.specialsale"
    (specialsaleGridData)="itemSelected($event)" (click)="openSpecialSalePage()"></app-ecommerce-specialsale-grid>

  <!-- <app-ecommerce-shop-recommend-scrollx></app-ecommerce-shop-recommend-scrollx> -->

  <!-- <app-ecommerce-shop-grid *ngIf="shopGrid.data" [data]="shopGrid.data.shop.items" [title]="shopGrid.data.shop.title"
    (selected)=itemSelected($event)></app-ecommerce-shop-grid> -->

  <app-ecommerce-bestseller-scrollx *ngIf="bestsellerScrollx.data" [items]="bestsellerScrollx.data.bestseller"
    (bestsellerScrollxData)="itemSelected($event)" (click)="openBestSellerPage()"></app-ecommerce-bestseller-scrollx>

  <app-ecommerce-product-grid *ngIf="productGrid.data" [items]='productGrid.data.product.items' (outPutData)="selectedData($event)"></app-ecommerce-product-grid>

</ion-content>